<div class="form-container mat-elevation-z5 text-center">
    <h1>User Profile</h1>
    <div class="profile-image">
      <img
        width="120"
        height="120"
        class="margin-top mat-elevation-z1"
        src="./assets/img.jpg"
      />
      <button mat-mini-fab>
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <input #inputField hidden type="file" />
  
    <form class="margin-top">
        <mat-form-field>
          <p>First Name: <span>Somya</span> </p>
        </mat-form-field>
        <mat-form-field>
          <p>Last Name: <span>Prajapati</span></p>
        </mat-form-field>  
        <mat-form-field>
            <p>Display name: <span>Somya Prajapati</span></p>
          <!-- <input
            type="text"
            matInput
            formControlName="displayName"
            placeholder="Display Name"
          /> -->
        </mat-form-field>
        <mat-form-field>
            <p> Phone no.: <span>7788994455</span></p>
          <!-- <input
            type="number"
            matInput
            formControlName="phone"
            placeholder="Phone"
          /> -->
        </mat-form-field>
      <mat-form-field>
          <p> Address: <span>233 S Block, Kidwai Nagar, Kanpur</span></p>
        <!-- <input
          type="text"
          matInput
          formControlName="address"
          placeholder="Address"
        /> -->
      </mat-form-field>
      <mat-form-field>
          <p>Role: <span>Student</span></p>
          <!-- <input
            type="text"
            matInput
            formControlName="role"
            placeholder="Teacher/Student"
          /> -->
        </mat-form-field>
  
      <!-- <button type="submit" class="margin-top" mat-raised-button>
        Save
      </button> -->
    </form>
  </div>