::-webkit-scrollbar-button {
    display: none;
  }
  
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    width: calc(2px * 2);
    border: 2px solid rgba(26, 26, 26, 0);
  }
  
  ::-webkit-scrollbar-track-piece {
    background: transparent;
    width: calc(2px / 2);
    border: 2px solid rgba(26, 26, 26, 0);
  }
.header_hero {
    width: 100%;
    height: 10vh;
    background: #fff;
  }
  
  .header_hero .header_hero__text {
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .header_hero .header_hero__text h2 {
    color: #0a183d;
    font-size: 4rem;
    line-height: 150%;
    font-weight: 500;
  }
  
  .header_hero .header_hero__text h2 span {
    color: teal;
    text-transform: capitalize;
  }
  
  .header_hero .header_hero__text h4 {
    color: #0a183d;
    font-size: 2rem;
    line-height: 150%;
    font-weight: 500;
  }
  
  .header_hero .header_hero__text h4 span {
    color: teal;
  }
  
  .header_hero .header_hero__text p {
    font-size: 1rem;
    color: #0a183d;
  }
  
  .header_hero .header_hero__btn {
      font-size: small;
      margin-bottom: 1rem;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  .header_hero .header_hero__btn a {
    padding: 0.8rem 3.2rem;
    background: teal;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: lighter;
    text-transform: capitalize;
    color: #fff;
    border: none;
    -webkit-box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
            box-shadow: 0rem 0.8rem 1.5rem rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    border-radius: 4.5rem;
    outline: none;
  }
  
  .header_hero .header_hero__btn a:hover {
    background-color: #fff;
    -webkit-box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
            box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
    color: #0a183d;
    -webkit-transform: translateY(-0.7rem);
            transform: translateY(-0.7rem);
  }
  
  .header_hero .header_hero__img {
    height: 70vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-animation: anime_hero 10s linear infinite alternate;
            animation: anime_hero 10s linear infinite alternate;
  }
  
  @-webkit-keyframes anime_hero {
    from {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes anime_hero {
    from {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
    }
    to {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  .header_hero .header_hero__img img {
    -webkit-filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
            filter: drop-shadow(0 1.5rem 1rem rgba(0, 0, 0, 0.8));
    height: 80%;
  }