<div id="home" class="header_hero">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-10 mx-auto">
                <div class="header_hero__text">
                    <h2>
                        Welcome to our 
                        <span> App</span>
                    </h2>
                </div>
                    <div class="header_hero__btn">
                        <a routerLink="/login" alt="">Student</a>
                    </div>
                    <div class="header_hero__btn">
                        <a routerLink="/home" alt="">Teacher</a>
                    </div>                
            </div>
            <div class="col-lg-6 col-10 mx-auto">
                <figure class="header_hero__img">
                    <img src="assets/home.png" alt="hh" />
                </figure>
            </div>
        </div>
    </div>
</div>