<div class="form-container mat-elevation-z5">
    <h1> LOGIN </h1>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Email required
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Enter correct Email format
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" formControlName="password" type="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                Passwrd required
            </mat-error>
        </mat-form-field>

        <button mat-raised-button type="submit">Login</button>
        <span>New user?
            <a class="sign" routerLink="/signup">SignUp</a>
        </span>
    </form>
</div>
