// mat-raised-button {
//     background-color: teal;
//     color: whitesmoke;
// }

.form-container h1 {
    color: teal;
}

.form-container span .sign {
    color: teal;
    font-size: large;
    margin: 1rem;
}